{% extends 'base.html'%}
{% load static %}
{% block content_left %}
  {{ deneme }}
    <div class="row border">
        <div class="col-md-12 text-left">
            <h5>Projects</h5>
        </div>
        <div class="col-md-12 text-left">
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#createNewProject">
                + New Project
            </button>
        </div>
        <ul>
            {% for project in projects %}
            <li class="col-md-12 text-left" id="project_{{ project.pk }}">
                {{ project.name }}
                <p>+ New Dataset</p>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content_left %}

{% block content_mid %}

{% endblock content_mid %}

{% block content_right %}
    <div class="row">
        <div class="col-md-12 border">
            Messages
        </div>
         <ol>
            {% for message in new_messages %}
            <li class="col-md-12 text-left" id="project_{{ message.pk }}">
                {{ message.name }}
            </li>
            {% endfor %}
        </ol>
    </div>
{% endblock content_right %}

{% block content_bottom %}



  {% include "_modal_create_project.html" %}
{% endblock content_bottom %}


